body{
    padding: 0px 40px;
    margin: 0;
}
.Header{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.logo{
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
}
.navItems{
    list-style: none;
    display: flex;
}
.item{
    padding: 0px 20px;
}
.card{
    width: 250px;
    padding: 10px;
    border:  1px solid lightgray;
    margin: 10px;
}
.card > img{
    width: 100%;
    object-fit: cover;
}
.restaurant-list{
    display: flex;
    flex-wrap:wrap ;
}
.search{
    padding: 40px;
    background-color: rgb(167, 125, 207);
    display: flex;
    gap: 10px;
}
.search >input{
    height: 40px;
    width: 50%;
    min-width: 100px; 
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 10px;
}
.search > button{
    height: 40px;
    width: 100px;
    box-sizing: border-box;
}
.skeleton{
    display: flex;
    flex-wrap: wrap;
}
.sk_feed{
    width: 250px;
    padding: 10px;
    border:  1px solid lightgray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
    animation: Skeleton 1s ease infinite alternate;
}
@keyframes Skeleton {
    to{
        opacity: 0.5;
    }
}
.sk_feed > .img{
    background-color: #999;
    height: 150px;
}
.sk_feed > .heading{
    background-color: #999;
    height:  20px;
}
.sk_feed > .rating{
    background-color: #999;
    height: 20px;
    width: 30px;
}
.empty_msg{
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: red;
}
